<div class="container my-5">
    <div class="row">
        <div class="box-size-1" id="container">
        </div>
        <div class="box-size-2">
            <ul class="p-1" style="list-style-type: none;"
                *ngFor="let expense of expenses; let i = index; trackBy: file" [attr.data-index]="i">
                <li>
                    <button class=" col-10 button-in-list"
                        style="pointer-events: none;">{{expense.description}}</button>
                    <button class="col-1 text-center" (click)="removeExpense(i)"><i class="fa fa-trash"
                            aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-center justify-content-center my-5">
        <form (submit)="addExpense($event)">
            <div class="row">
                <div class="text-input-div mx-2">
                    <input type="text" placeholder="description..." name="description" required>
                </div>
                <div class="text-input-div ">
                    <input type="number" placeholder="amount" name="amount" required>
                </div>
                <button class="mx-2"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>